<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Climbing Diary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" />
</head>

<body>

<h1>Welcome to Climbing Diary!</h1>
<p>Please select an option</p>
<ol>
    <li><a href="showAllClimbers.html" th:href="@{/showAllClimbers}">Show All Climbers</a></li>
</ol>

</body>

</html>