<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All Routes</title>
</head>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			url : "/spring-thymeleaf/js",
		});
	});
</script>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Route name</th>
        <th>Region</th>
        <th>Rate</th>
        <th>Year of creation</th>
        <th>Wall</th>
        <th>First ascent</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route : ${routes}">
        <td th:text="${route.routeId}" />
        <td th:text="${route.routeName}" />
        <td th:text="${route.region}" />
        <td th:text="${route.rate}" />
        <td th:text="${route.year}" />
        <td th:text="${route.wall.name}" />
        <td th:text="${route.firstAscent.climberLastName}" />
    </tr>
    </tbody>
</table>
</body>
</html>